.container {
  max-width: 100%;
  padding: 4rem 1rem;
  margin: 0 auto;
  background-color: rgb(255, 255, 255); /* Pure black background */
}

.heading {
  padding: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
  color: rgb(8, 8, 8); /* White text for visibility on black background */
}

.swiper_container {
  height: 100%; /* Adjust container height */
  width: 100%;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 30rem; /* Adjusted slide width */
  height: 30rem; /* Adjusted slide height */
  margin-right: 10px;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%; 
  border-radius: 1rem; /* Rounded corners */
  object-fit: cover; /* Prevent image distortion */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

/* Reflection Effect */
.swiper-slide img::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0));
  transform: scaleY(-1);
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}

/* Pagination Style */
.swiper-pagination {
  position: absolute;
  bottom: 1rem;
  text-align: center;
}

/* Slider Controller */
.slider-controler {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slider-controler .swiper-button-next,
.slider-controler .swiper-button-prev {
  background: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .swiper-button-next {
  right: 2rem;
}

.slider-controler .swiper-button-prev {
  left: 2rem;
}

.slider-controler .slider-arrow ion-icon {
  font-size: 1.8rem;
  color: #222224;
}

/* Responsive Design */
@media (max-width: 500px) {
  .swiper_container {
    height: 35rem;
  }

  .swiper-slide {
    width: 15rem;
    height: 20rem;
  }
}
